*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  /* min-height: 534px;
  min-width: 1140px; */
  margin: 133px 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 40px;
}

fieldset {
  border: none;
}

.title {
  margin-bottom: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  min-width: 212px;
  min-height: 50px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* border-bottom: 1px solid #FFF; */
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

/* .search-form__label:focus {
  outline: none;
  border: none;
} */

/* .search-form__label:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
} */

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__textfield:active {
  border-right: #FFF;
  border-left: #FFF;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label, .search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.search-form__checkbox[type='checkbox'] + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  /* border: 1px solid #FFF; */
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

/* .search-form__checkbox[type='checkbox']:disabled {} */
/* .search-form__checkbox[type='checkbox']:checked {} */

.search-form__checkbox[type='checkbox']:has(:focus) + .search-form__pseudo-checkbox { 
  outline: none;
}

.search-form__checkbox[type='checkbox']:focus-visible + .search-form__pseudo-checkbox {
  /* border: 1px solid #FFF; */
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox {
  background-color: #FFF;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #FFF;
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button, .search-form__submit-button, .content__video-card:active:focus {
  outline: none;
}

.search-form__submit-button, .content__video-card:active:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

p:hover {
  text-decoration: underline;
  color: #FFF;
}

.button:active, .content__video-card:active {
  background: #545050;
}

.search-form__submit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 73px 6px 73px;
  appearance: none;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px; 
  overflow-y: scroll;
  position: relative;
  text-decoration: none;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.result__video-container {
  margin-bottom: 16px;
  min-width: 711px;
  min-height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .content__video-card:focus { */
  /* border: none; */
  /* outline: none; */
/* } */

/* .content__video-card:focus-visible { */
  /* outline: 1px solid #FFF; */
/* } */

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #FFF;
}

.title:not(.content__accent) {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;
}

/* .content__video-card:focus { */
  /* outline: none; */
  /* border: none; */
/* } */

/* ..content__video-card:focus-visible { */
  /* border: 1px solid #FFF;; */
  /* outline: 1px solid #FFF; */
  /* outline-offset: 2px; */
/* } */

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.more-button {
  padding: 6px 137px 6px 136px;
}